@font-face {
	font-family: 'Chunk';
    src: url('../resources/fonts/joystix monospace-webfont.eot');
    src: url('../resources/fonts/joystix monospace-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/joystix monospace-webfont.woff2') format('woff2'),
         url('../resources/fonts/joystix monospace-webfont.woff') format('woff'),
         url('../resources/fonts/joystix monospace-webfont.ttf') format('truetype'),
         url('../resources/fonts/joystix monospace-webfont.svg#joystixmonospace') format('svg');
}

body {
	background-color: darkblue;	/* for now */
}

canvas {
    cursor: none;
    border: 1px solid black;
    margin: 20px auto;
    display: block;
    background-color: black;	/* for now */
}