/*Give sizes to the canvas*/
@font-face {
    font-family: Chunk;
    src: url('../resources/fonts/Chunkfive.ttf');
}

body {
	background-color: darkblue;	/* for now */
}

canvas {
    cursor: none;
    border: 1px solid black;
    margin: auto;
    margin-top:20px;
    display: block;
    background-color: white;	/* for now */
}